.hide {
    visibility: hidden;
    height: 0;
    width: 0;
}

.combatant-img {
    height: 30vh;
    width: 30vh;
    z-index: 100;
}

.face-left {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.face-right {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}