.health {
    background-color: rgb(205, 0, 0);
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    height: 2rem;
}

.mana {
    background-color: rgb(67, 111, 205);
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    height: 2rem;
}

.empty {
    background-color: black;
}

.stat-text-center {
    position: absolute;
    width: 30vh;
}